name: stylish_bottom_bar
description: A collection of stylish bottom navigation bars like animated bottom bar and bubble bottom bar for flutter.
version: 1.1.3
#homepage: https://github.com/MarsadMaqsood/Stylish_bottom_bar
repository: https://github.com/MarsadMaqsood/Stylish_bottom_bar

environment:
  sdk: ">=3.5.0 <4.0.0"
  flutter: ">=3.24.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_lints: ^6.0.0
  
  flutter_test:
    sdk: flutter

topics:
  - ui
  - widget
  - stylish-bottom-bar
  - bottom-navigation
  - navigation-bar

